@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Medium";
  src: local("Raleway-Medium"),
    url("./assets/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: local("BebasNeue-Regular"),
    url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"),
    url("./assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("OpenSans-SemiBold"),
    url("./assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium"),
    url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "CotorisBold";
  src: local("CotorisBold"),
    url("./assets/fonts/CotorisBold.ttf") format("truetype");
}



input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Optionally hide the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}